<%= simple_form_for(@delivery) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :store %>
    <%= f.input :start_at %>
    <%= f.input :close_at %>
    <%= f.input :deliver_at %>
    <%= f.input :discount %>
    <%= f.input :created_by %>
    <%= f.input :card_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
